<div class="demo-container" mdl-shadow="2">
    <mdl-layout mdl-layout-fixed-header mdl-layout-fixed-drawer>
        <mdl-layout-header>
            <mdl-layout-header-row>
                <mdl-layout-title>WatchMan</mdl-layout-title>
                <mdl-layout-spacer></mdl-layout-spacer>
                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link">Link</a>
                    <a class="mdl-navigation__link" >Link</a>
                    <a class="mdl-navigation__link" >Link</a>
                </nav>
            </mdl-layout-header-row>
        </mdl-layout-header>
        <mdl-layout-drawer>
            <mdl-layout-title>

            </mdl-layout-title>
            <div class="wm-user-header">
                <img *ngIf="user" class="wm-user-avatar" [src]="user.avatar">
                <div *ngIf="user" class="wm-user-email"><a>{{user.email}}</a></div>
                <button class="wm-user-login-btn" *ngIf="user === null" (click)="showLoginDialog()" mdl-button mdl-ripple>
                    Войти на сайт
                </button>
            </div>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" routerLink="/serials" routerLinkActive="active">Все сериалы</a>
                <a class="mdl-navigation__link">Link</a>
                <a *ngIf="user" class="mdl-navigation__link" (click)="logout()" ><b>Выйти</b></a>
            </nav>
        </mdl-layout-drawer>
        <mdl-layout-content>
            <router-outlet></router-outlet>
        </mdl-layout-content>
    </mdl-layout>
</div>