<h2>Дорогой <%= user.username %>!</h2>
<h4>Вышла новая серия твоего любимого сериала:</h4>

<h3><%= episode.serial_name %></h3>
<p>Сезон <%= episode.season %></p>
<p>Серия: <%= episode.episode_number %></p>
