<div id="login_modal" class="modal col s12 m12 l12">
    <form (ngSubmit)="onLoginSubmit()">
        <div class="modal-content">
            <h4>Войти на сайт</h4>
            <div class="row">
                <div class="input-field col s12 m12 l6">
                    <input id="email" name="email" type="email" class="validate" [(ngModel)]="email">
                    <label for="email">E-mail</label>
                </div>
                <div class="input-field col s12 m12 l6">
                    <input id="password" name="password" type="password" class="validate" [(ngModel)]="password">
                    <label for="password">Пароль</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button href="#!" type="submit" class=" modal-action modal-close waves-effect waves-orange btn-flat">Войти</button>
        </div>
    </form>
</div>
<header>
    <nav class="top-nav">
        <div class="container">
            <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only">
                <i class="material-icons menu-button">menu</i>
            </a>
            <div class="nav-wrapper"><a routerLink="/" class="brand-logo center page-title">{{pageTitle}}</a></div>
        </div>
    </nav>
    <ul id="nav-mobile" class="side-nav fixed">
        <li><div class="userView">
            <div class="background">
                <img src="http://materializecss.com/images/office.jpg">
            </div>
            <div *ngIf="!user" style="min-height: 150px">
            </div>
            <div *ngIf="user">
                <a href="#!user"><img class="circle" src="{{user.avatar}}"></a>
                <a href="#!name"><span class="white-text name">{{user.username}}</span></a>
                <a href="#!email"><span class="white-text email">{{user.email}}</span></a>
            </div>
        </div></li>
        <li *ngIf="!user" class="bold"><a href="#login_modal" class="waves-effect waves-orange">Войти</a></li>
        <li *ngIf="!user" class="bold"><a routerLink="/register" routerLinkActive="active" class="waves-effect waves-orange">Зарегистрироваться</a></li>
        <li *ngIf="user" (click)="onLogout()" class="bold"><a class="waves-effect waves-orange">Выйти</a></li>
        <div class="divider"></div>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header waves-effect waves-orange"><i class="material-icons">arrow_drop_down</i>Все сериалы</a>
                    <div class="collapsible-body">
                        <ul>
                            <li *ngFor="let serial of briefSerials">
                                <a routerLink="{{getSerialUrl(serial)}}" routerLinkActive="active" class="serial-link truncate waves-effect waves-orange" [style.border-color]="serial.poster_color">{{serial.rus_name}}</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header waves-effect waves-orange"><i class="material-icons">arrow_drop_down</i>Популярные сериалы</a>
                    <div class="collapsible-body">
                        <ul>
                            <li *ngFor="let serial of popularSerials">
                                <a routerLink="{{getSerialUrl(serial)}}" routerLinkActive="active" class="serial-link truncate waves-effect waves-orange" [style.border-color]="serial.poster_color">{{serial.rus_name}}</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header waves-effect waves-orange"><i class="material-icons">arrow_drop_down</i>Архивные сериалы</a>
                    <div class="collapsible-body">
                        <ul>
                            <li *ngFor="let serial of archiveSerials">
                                <a routerLink="{{getSerialUrl(serial)}}" routerLinkActive="active" class="serial-link truncate waves-effect waves-orange" [style.border-color]="serial.poster_color">{{serial.rus_name}}</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</header>