<div class="container">
    <div *ngIf="serial" class="sm-serial-block">
        <div class="row center">
            <div class="card col s12 m12 l8 offset-l2">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" [src]="serial.poster">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">
                        {{serial.rus_name}}<i class="material-icons right">more_vert</i>
                    </span>
                    <!-- <p><a href="#">This is a link</a></p> -->
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{serial.name}}<i class="material-icons right">close</i></span>
                    <div class="left-align">
                        <p>{{serial.description}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-panel" *ngIf="serial.genres.length > 1">
            <div class="chip" *ngFor="let genre of serial.genres">
                {{genre}}
            </div>
        </div>
        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header active"><i class="material-icons">movie</i>О сериале</div>
                <div class="collapsible-body">
                    <p>
                        <b>Страна: </b>{{serial.prod_country}}<br>
                        <b>Год выхода: </b>{{serial.start_year}}<br>
                        <b>Статус: </b>{{(serial.is_on_air)?'снимается':'закончен'}}<br>
                        <span *ngIf="serial.genres.length == 1"><b >Жанр: </b>{{serial.genres[0]}}</span><br>
                    </p>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">filter_drama</i>Описание</div>
                <div class="collapsible-body"><p>{{serial.description}}</p></div>
            </li>
            <li *ngIf="serial.plot">
                <div class="collapsible-header"><i class="material-icons">receipt</i>Сюжет</div>
                <div class="collapsible-body"><p>{{serial.plot}}</p></div>
            </li>
        </ul>
        <div class="col s12">
            <ul class="tabs">
                <li *ngFor="let season of seasons; let i = index" class="tab col s3"><a href="#season{{i+1}}">Сезон {{i+1}}</a></li>
            </ul>
        </div>
        <div *ngFor="let season of seasons; let i = index" id="season{{i+1}}" class="col s12">
            <p>
                Здесь будут серии {{i + 1}} сезона.
            </p>
        </div>
    </div>
</div>
