.wm-serials-search-container{
  background-color: #fff;
  padding: 5px 15px;
  margin-bottom: 20px;
  border-radius: 2px;
  .material-icons{
    position: relative;
    top: 8px;
  }
  mdl-textfield{
    width: 90%;
    font-size: 20px;
  }
}

.wm-pagination-buttons{
  table, tr{
    width: 100%;
  }
  .back-container, .forward-container{
    width: 50%;
  }
  .forward-container{
    text-align: right;
  }
}

.wm-serial-panel{
  background-color: #fff;
  border-radius: 2px;
  margin: 10px 0;
  padding: 5px 15px;
  .wm-serial-poster-container{
    text-align: center;
    .wm-serial-poster{
      margin: auto;
      width: 100%;
    }
  }
  .wm-serial-description{
    padding: 0 20px;
    .wm-serial-name, .wm-serial-orig-name{
      margin: 0;
    }
    .wm-serial-orig-name, .wm-serial-year{
      color: #757575;
    }
  }
}

.wm-no-serials-found{
  background-color: #fff;
  border-radius: 2px;
  margin: 10px 0;
  padding: 5px 10px;
  text-align: center;
}