.wm-serial-poster{
  width: 100%;
  margin: auto;
  .wm-serial-poster-image{
    img{
      width: 100%;
      display: block;
      margin: 0 auto;
    }
  }
}

.mdl-cell > .mdl-cell{
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.wm-serial-info{
  background-color: #fff;
  border-radius: 2px;
  padding: 15px 0;
  h6{
    margin-top: 0;
  }
  .content{
    margin: 0 15px;
  }
  .material-icons{
    position: relative;
    top: 5px;
  }
}

mdl-card-supporting-text, .wm-serial-plot{
  p span{
    border-bottom: 1px dotted;
  }
}