<div class="mdl-grid" *ngIf="serial">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone ">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone ">
            <mdl-card class="wm-serial-poster" mdl-shadow="2">
                <div class="wm-serial-poster-image">
                    <img class="mdl-cell--middle" [src]="serial.poster">
                </div>
                <mdl-card-title>
                    <h2 mdl-card-title-text>{{serial.rus_name}}</h2>
                </mdl-card-title>
                <mdl-card-supporting-text *ngIf="serial.description">
                    {{descriptionBrief}}<p *ngIf="descriptionBrief.length < serial.description.length" (click)="showFullDescription()"><span>Показать полностью...</span></p>
                </mdl-card-supporting-text>
                <mdl-card-actions mdl-card-border>
                    <button mdl-button mdl-colored mdl-ripple>Get Started</button>
                </mdl-card-actions>
                <mdl-card-menu>
                    <button mdl-button mdl-button-type="icon" mdl-ripple>
                        <mdl-icon>share</mdl-icon>
                    </button>
                </mdl-card-menu>
            </mdl-card>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        <div class="wm-serial-info mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-shadow--4dp">
            <div class="content"><h6><mdl-icon>subscriptions</mdl-icon> Статус подписки</h6></div>
            <hr>
            <div class="content"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu aliquet ipsum. Etiam mi velit, auctor nec cursus quis, posuere vitae sapien. Pellentesque sed justo eget nisi auctor sodales. Proin et purus sit amet neque auctor ultrices. </p></div>
        </div>
        <div class="wm-serial-info mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-shadow--4dp">
            <div class="content"><h6><mdl-icon>info_outline</mdl-icon> Информация о сериале</h6></div>
            <hr>
            <div class="content">
            <b>Оригинальное название: </b> {{serial.orig_name}}
            <br>
            <b *ngIf="serial.prod_country">Страна: </b> {{serial.prod_country}}
            <br>
            <b *ngIf="serial.start_year">Год выхода: </b> {{serial.start_year}}
            <br>
            <b *ngIf="serial.seasons_num">Количество сезонов: </b> {{serial.seasons_num}}
            <br>
            <b>Статус: </b> {{serial.is_on_air?'снимается':'закончен'}}
            </div>
        </div>
        <div *ngIf="serial.plot && plotBrief" class="wm-serial-info mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-shadow--4dp">
            <div class="content"><h6><mdl-icon>description</mdl-icon> Сюжет</h6></div>
            <hr>
            <div class="content wm-serial-plot">
                {{plotBrief}}<p *ngIf="plotBrief.length < serial.plot.length" (click)="showFullPlot()"><span>Показать полностью...</span></p>
            </div>
        </div>
    </div>
</div>
