<div class="mdl-grid" *ngIf="serial">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone ">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone ">
            <mdl-card class="wm-serial-poster" mdl-shadow="2">
                <div class="wm-serial-poster-image">
                    <img class="mdl-cell--middle" [src]="serial.poster">
                </div>
                <mdl-card-title>
                    <h2 mdl-card-title-text>{{serial.rus_name}}</h2>
                </mdl-card-title>
                <mdl-card-supporting-text *ngIf="serial.description">
                    {{descriptionBrief}}<p *ngIf="descriptionBrief.length < serial.description.length" (click)="showFullDescription()"><span>Показать полностью...</span></p>
                </mdl-card-supporting-text>
            </mdl-card>
        </div>
        <div *ngIf="seasons" class="wm-seasons-panel mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-shadow--4dp">
            <mdl-tabs mdl-ripple mdl-tab-active-index="1000">
                <mdl-tab-panel *ngFor="let season of seasons; let i = index" mdl-tab-panel-title="S{{i + 1}}" [disabled]="!season.length">
                    <ul>
                        <li (click)="goToEpisode(episode)" class="wm-episode-link" *ngFor="let episode of season">{{(episode.episode_number == 0)?'Сезон полностью':'Серия '+episode.episode_number}}</li>
                    </ul>
                </mdl-tab-panel>
            </mdl-tabs>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        <div *ngIf="serial.is_on_air" class="wm-serial-info mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-shadow--4dp">
            <div class="content"><h6><mdl-icon>subscriptions</mdl-icon> Оповещение о выходе новых серий</h6></div>
            <hr>
            <div class="content">
                <div *ngIf="!user">
                    <p>Чтобы <b>подписаться</b> на выход новых серий этого сериала, необходимо <b>войти на сайт</b> или <b>зарегистрироваться.</b></p>
                </div>
                <div *ngIf="user && subscription === null">
                    <p>
                        Вы не подписаны на выход новых серий этого сериала.
                    </p>
                    <button (click)="subscribeForSerial()" mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple>
                        Подписаться
                    </button>
                </div>
                <div *ngIf="user && subscription">
                    <h6>Источник: </h6>
                    <mdl-switch (click)="saveSubscription()" *ngIf="lostfilmTranslates" [(ngModel)]="lostfilmSubscribed" mdl-ripple>LostFilm</mdl-switch>
                    <mdl-switch (click)="saveSubscription()" *ngIf="newstudioTranslates" [(ngModel)]="newstudioSubscribed" mdl-ripple>NewStudio</mdl-switch>
                    <button (click)="unsubcribeOfSerial()" mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple>
                        Отписаться
                    </button>
                </div>
            </div>
        </div>
        <div class="wm-serial-info mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-shadow--4dp">
            <div class="content"><h6><mdl-icon>info_outline</mdl-icon> Информация о сериале</h6></div>
            <hr>
            <div class="content">
            <b>Оригинальное название: </b> {{serial.orig_name}}
            <br>
            <b *ngIf="serial.prod_country">Страна: </b> {{serial.prod_country}}
            <br>
            <b *ngIf="serial.start_year">Год выхода: </b> {{serial.start_year}}
            <br>
            <b *ngIf="serial.seasons_num">Количество сезонов: </b> {{serial.seasons_num}}
            <br>
            <b>Статус: </b> {{serial.is_on_air?'снимается':'закончен'}}
            </div>
        </div>
        <div *ngIf="serial.plot && plotBrief" class="wm-serial-info mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-shadow--4dp">
            <div class="content"><h6><mdl-icon>description</mdl-icon> Сюжет</h6></div>
            <hr>
            <div class="content wm-serial-plot">
                {{plotBrief}}<p *ngIf="plotBrief.length < serial.plot.length" (click)="showFullPlot()"><span>Показать полностью...</span></p>
            </div>
        </div>
    </div>
</div>


