<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col-desktop mdl-cell--1-col-tablet mdl-cell--hide-phone"></div>
    <div class="mdl-cell mdl-cell--8-col-desktop mdl-cell--6-col-tablet">
        <div class="wm-main-panel mdl-shadow--4dp">
            <img src="./assets/watchman.png">
            <h3>WatchMan</h3>
            <div class="wm-main-text-container">
                <p>Добро пожаловать!</p>
                <p>На этом сайте вы можете:</p>
                <ul>
                    <li>подписаться на выход новых серий вашего любимого сериала</li>
                    <li>скачивать в FullHD качестве серии большинства популярных сериалов</li>
                    <li>найти новый сериал по душе</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--2-col-desktop mdl-cell--1-col-tablet mdl-cell--hide-phone"></div>
</div>
